@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

#faq {
    display: flex;
    height: 100%;
    width: 100%;
    letter-spacing: 2px;

    .faqSubcontainer{
        position: relative;
        margin: 70px 8%;
        // display: inline-flex;

        h2 {
            color: $lightpurple;
            text-align: center;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            font-size: 40px;
            margin-bottom: 50px;
        }

        button {
            background-color: $mediumpurple;
        }
    }
}

@media screen and (min-width: $small) and (max-width: $medium) {
    #faq {

        .faqSubcontainer {
            margin: 70px auto;
            width: 500px;

            h2 {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: $small) {
    #faq {
        text-align: center;
        letter-spacing: 1px;

        .faqSubcontainer {
            margin: 70px 30px;

            h2 {
                font-size: 27px;
            }

        }
    }
}